html {
    scroll-behavior: smooth;
}

body {
    font-family: cursive;
}

.nav-item:hover {
    color: white;
    padding-top: 5px;
    background-color: rgb(23, 37, 37);
}

.profile {
    margin-top: 7rem; /* Adjust as needed */
}

.gusan {
    border-radius: 50%;
    width: 90%; /* Adjust as needed */
}

.vr {
    width: 3px;
    height: 100%; /* Adjust as needed */
    background-color: yellow; /* Adjust color as needed */
}

.text {
    font-size: large; /* Adjust as needed */
}

.profile-section {
    margin-top: 10rem;
}

.prof-title {
    margin-top: -1.5rem;
    text-align: center;
    font-family: cursive;
    font-style: italic;
}

.foto {
    margin-left: -7rem;
    width: 20%;
    border-radius: 15%;
}

.identitas {
    font-weight: bold;
    margin-top: 1.5rem;
}
.isi-identitas {
    margin-top: -2.5rem;
    margin-bottom: -4.5rem;
    margin-left: 12rem;
}

.experience {
    float: left;
    margin-left: -7rem;
    margin-top: 5rem;
}

.isi-exp {
    padding: 1rem;
    font-size: medium;
}

.left-line {
    background-color: gold;
    margin-top: 2rem;
    margin-left: -12.78rem;
    width: 42.93rem;
    height: 2px;
}

.right-line {
    background-color: gold;
    margin-top: -0.2rem;
    margin-left: 39.78rem;
    width: 42.93rem;
    height: 2.5px;
}

@media(max-width: 599px) {
    .gusan {
        float: left;
        width: 50%;
    }

    .prof-title {
        margin-top: 3rem;
        text-align: center;
        font-family: cursive;
        font-style: italic;
    }

    .prof-title {
        margin-top: 25rem;
        text-align: center;
        font-family: cursive;
        font-style: italic;
    }
    
    .foto {
        margin-left: -1rem;
        width: 40%;
        border-radius: 15%;
    }
    
    .identitas {
        font-weight: bold;
        margin-top: 1.5rem;
    }
    .isi-identitas {
        margin-top: -2.5rem;
        margin-bottom: -4.5rem;
        margin-left: 16rem;
    }
    
    .experience {
        float: left;
        margin-left: 0rem;
        margin-top: 4rem;
    }
    
    .isi-exp {
        padding: 0.4rem;
        font-size: medium;
    }

    .left-line, .right-line {
        background-color: gold;
        margin-top: 0rem;
        margin-left: 0rem;
        width: 0rem;
        height: 0px;
    }

}