html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
}
    .navatas {
        overflow: hidden;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
        color: white;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }
    
    .navatas a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .navatas a:hover {
        background-color: lightslategray;
        color: white;
    }

    /*.navatas a.active {
        background-color: #0088ff;
        color: white;
    }*/

    .credit {
        float: right;
    }
    .kredit {
        float: left;
        font-size: large;
    }



    .header {
        display: flex;
        padding-left: 4rem;
        padding-top: 7rem;
    }

    .title {
        font-family: cursive;
        position: relative;
        font-size: 2.5rem;
        font-weight: bold;
    }

.foto-gusan {
    width: 30%;
    height: 30%;
    border-radius: 100%;
    padding-right: 0rem;
    margin-left: 58rem;
    margin-top: -16rem;
}

.info-text {
    position: relative;
    font-family: cursive;
    padding-top: 5rem;
    margin-left: 4rem;
    padding-right: 43rem;
}

.line {
    margin-top: 8rem;
    margin-right: -2rem;
    margin-left: 13rem;
    width: 1rem;
    border-radius: 10%;
    height: 14rem;
    color: gold;
    background-color: gold;
}

.profile {
    align-content: center;
    padding-top: 6rem;
    font-family: 'Times New Roman', Times, serif;
}

.foto {
    margin-right: -2rem;
}

.nol {
    position: relative;
    float: right;
    margin-right: 2rem;
    width: 10%;
    height: 2%;
    border-radius: 10px;
    margin-top: -16rem;
}

.nol1 {
    position: relative;
    float: right;
    margin-right: 12rem;
    width: 10%;
    height: 2%;
    border-radius: 10px;
    margin-top: -16rem;
}


.line-divide {
    margin-top: 22rem;
    background-color: black;
    width: 42.93rem;
    height: 2px;
}

.line-divide2 {
    float: right;
    margin-top: -0.1rem;
    background-color: black;
    width: 42.93rem;
    height: 2px;
}

.view-more {
    text-decoration: none;
    font-weight: bold;
    margin-left: 20rem;
    border: #4760cf;
    color: #4760cf;
    border: 4px solid;
    text-align: center;
    border-radius: 15px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
    border-color: #4760cf;
}

.view-more:hover {
    color: white;
    background-color: #4760cf;
    border-color: #4760cf;
}


.profile-img {
    height: 50%;
    width: 50%;
    border-radius: 10px;
    margin-top: -3.5rem;
}

.info-edu {
    padding-left: 8rem;
    padding-right: 16rem;
}

.tag {
    font-size: large;
    margin-left: 15rem;
    margin-top: -3.3rem;
    margin-bottom: -2rem;
}

.profile-title {
    text-align: center;
    margin-left: 37.98rem;
    margin-top: -13.589rem;
    padding: 6rem;
    font-size: 2.5rem;
    color: limegreen;
    font-family: brush-script;
    font-style: italic;
}

.fill-edu {
    padding-top: 5.7rem;
}

.tagged {
    font-size: large;
    font-weight: bold;
    font-size: 15px;
    margin-left: 25rem;
    margin-top: -3rem;
    margin-bottom: -2rem;
    padding-bottom: -0.5rem;
}


.skill {
    align-content: center;
    margin-left: 7rem;
    margin-top: 7rem;
}

.exp {
    position: relative;
    font-family: cursive;
    margin-top: -3rem;
    padding-left: -25rem;
}

.exp-logo {
    position: relative;
    margin-top: -1rem;
    margin-left: 13.897rem;
    width: 2.5%;
    height: 2.5%;
    border: 10px;
    border-radius: 20px;
}

.skill-txt {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 36rem;
}

.skill-txt2 {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 2rem;
    padding-right: 35rem;
}

.education {
    position: relative;
    font-family: cursive;
    margin-top: -32rem;
    padding-left: -25rem;
    margin-bottom: 20rem;
}

.edu-title {
    margin-left: 52rem;
    margin-top: -4.3rem;
}

.logo-edu {
    position: relative;
    margin-top: -2.8rem;
    margin-left: 46.5rem;
    width: 5%;
    height: 5%;
    border: 10px;
    border-radius: 20px;
}

.sekolah {
    margin-left: 47rem;
    padding-bottom: 1rem;
    font-size: larger;
}

.smk {
    margin-left: 48.5rem;
    padding-bottom: 1rem;
    font-size: larger;
}

.custom-list {
    list-style: none;
    position: relative;
}

.custom-list li {
    position: relative;
    padding-left: 1rem;
}

.custom-list li::before {
    content: '';
    position: absolute;
    left: -0.8rem;
    top: 1rem;
    height: 3.5rem;
    width: 2px;
    background-color: black;
}

.custom-list li::after {
    content: '';
    position: absolute;
    left: -1rem;
    top: 1rem;
    transform: translateY(-50%);
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: black;
}

.gall-title {
    text-align: center;
    margin-left: 22rem;
    margin-bottom : 3rem;
    margin-top: 3.7rem;
    color: #4760cf;
    font-family: brush-script;
    font-style: italic;
}

.gambar {
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-left: 29rem;
    margin-right: 30rem;
    border: 4px solid gold;
    border-radius: 10px;
}

.portrait-images {
    z-index: 0;
    margin-left: 3rem;
    position: relative;
}

.landscape-images {
    position: relative;
    z-index: 0;
    margin-left: 3rem;
}

.rpl3 {
    height: 145px;
    width: 226px;
    margin-left: 1px;
    margin-bottom: 7px;
}

.mit {
    height: 145px;
    width: 226px;
}

.pak {
    height: 145px;
    width: 236px;
}

.tya {
    height: 160px;
    width: 115px;
}

.cok {
    height: 160px;
    width: 115px;
    margin-left: 1px;
}

.sukija {
    height: 160px;
    width: 115px;
}

.flower {
    height: 160px;
    width: 115px;
}

.layangan {
    height: 160px;
    width: 115px;
}

.line-divider {
    float: left;
    margin-top: 0rem;
    margin-bottom: 2rem;
    background-color: gold;
    width: 94.93rem;
    height: 4px;
}

.footer {
    margin-top: -2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    text-decoration: none;
    color: black;
}
.footer-text {
    margin-top: -2rem;
    padding-right: 35rem;
    float: left;
}

.hastag {
    color: white;
    margin-left: 3rem;
}

.foot-name {
    margin-left: 5rem;
    color: white;
}

.insta {
    text-decoration: none;
    color: white;
    width: 2rem;
    margin-right: 4rem;
    float: right;
}
.insta-text {
    float: right;
    margin-top: 2.5rem;
    margin-right: -2.8rem;
}

.github {
    text-decoration: none;
    color: white;
    width: 2rem;
    margin-left: 2rem;
    float: right;
}

.github-text {
    float: right;
    margin-top: 2.5rem;
    margin-right: -6rem;
}

.more-btn {
    padding-bottom: 0rem;
}

.more-pic {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    margin-left: 43.5rem;
    border: #4760cf;
    color: #4760cf;
    border: 4px solid;
    text-align: center;
    border-radius: 10px;
    padding: 0.8rem;
    border-color: #4760cf;
}

.more-pic:hover {
    color: white;
    background-color: #4760cf;
    border-color: #4760cf;
}


.line-divided3 {
    float: left;
    margin-top: 2rem;
    background-color: gold;
    width: 42.93rem;
    height: 2px;
}

.galleryy {
    background-color: black;
    margin-top: -3rem;
    padding-bottom: 4rem;
}

.line-divide4 {
    float: right;
    margin-top: 2rem;
    background-color: gold;
    width: 42.93rem;
    height: 2px;
}